<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CosRemote.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5D02EC381C747E2E007F3B28</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5D02EC4C1C747E2E007F3B28</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5D02EC571C747E2E007F3B28</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
